
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Gen">
  <img src="assets/images/gen-logo.png" width="36" height="36">
</a>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
    {% for item in site.data.navigation %}
      <li class="nav-item">
        <a class="nav-link {% if page.url == item.link %}active{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>

</header>
